*.egg-info
*.pyc
*.pyo
.Python
bin
build
develop-eggs
dist
eggs
include/
lib/
lib64
parts
pip-selfcheck.json
pyvenv.cfg
/.coverage
/.coverage.*
/.installed.cfg
/.tox
/coverage.xml
/default.profraw
/htmlcov
