language: python
dist: xenial
python:
  - 2.7
  - 3.6
  - 3.7
matrix:
     include:
         - python: 3.7
           name: "Flake8"
           install:  pip install -U flake8
           script: flake8 --doctests src setup.py
install:
  - pip install tox-travis
script:
  - tox -vvvv
cache:
  pip: true
