[buildout]
develop = .
parts = test
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs =
    plone.recipe.zope2instance [test]


[versions]
zope.testing = 3.7.7
zc.recipe.testrunner = 1.2.0
